html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0a4b78;
}

canvas {
  display: block;
  position: absolute;
}

#main {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;		
}

.brand {
	background-color: white;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
	z-index: 999;
	display: block;
	position: absolute;
}

.brand > a {
	text-decoration: none;
	user-select: none;
}

#banner_container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;		
}

#log {
	z-index: 9999;
	background-color: #b05355;
	color: white;
	padding: 16px;	
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	user-select: none;
	visibility: hidden;
}